<% @comics.in_groups_of(4, false).each_with_index do |group, index| %>
  
  <div class="row">
    <% group.each do |comic| %>
      <div class='col-lg-3 test'>

        <!-- displays and links the comic book image -->
        <%= link_to (image_tag "#{comic.image}", :class => "col-md-10"), "/comicbin/#{comic.id}" %>

      </div>
    <% end %>
  </div>
<% end %>
